#include <windows.h>
#include "ComDlg.h"

DLG_COM DIALOG DISCARDABLE  100, 100, 150, 150

STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU

CAPTION "간단한 시리얼 통신"

FONT 11, "system"
{
	EDITTEXT        ID_EDIT_SEND, 10, 10, 130, 60, 
					WS_VSCROLL| ES_MULTILINE | ES_WANTRETURN

	EDITTEXT		ID_EDIT_RECV, 10, 80, 130, 60,
					WS_VSCROLL | ES_MULTILINE | ES_WANTRETURN
}
